<footer class="main-footer">
	<div class="footer">
		<div class="ed-grid s-grid-1 row-gap footer__upperFooterContainer">
			<img class="footer__upperFooter" src="assets/img/Desktop/Logo-perubet.svg" alt="icon" />
		</div>
		<div class="ed-grid m-grid-3 lg-grid-5 row-gap">
			<ul class="s-cols-1 footer__titulo">
				Sobre nosotros<a class="footer__li" href="https://www.google.com/?hl=es">Preguntas frecuentes</a><a
					class="footer__li" href="#">Tutoriales</a><a class="footer__li" href="#">Blog</a>
			</ul>
			<ul class="s-cols-1 footer__titulo">
				Banca<a class="footer__li" href="#">Recargas</a><a class="footer__li" href="#">Retiros</a><a
					class="footer__li" href="#">Bonos y <br> promociones</a>
			</ul>
			<ul class="s-cols-1 footer__titulo">
				Políticas<a class="footer__li" href="#">Términos y Condiciones</a><a class="footer__li"
					href="#">Politicas de Privacidad</a><a class="footer__li" href="#">Politica de Reclamos</a><a
					class="footer__li" href="#">Politica de Anti-lavado</a>
			</ul>
			<ul class="s-cols-1 footer__titulo">
				Reglas<a class="footer__li" href="#">De la casa</a><a class="footer__li" href="#">Deportes</a><a
					class="footer__li" href="#">Casino</a><a
					class="footer__li" href="#">Juego Responsable</a>
			</ul>
			<!-- <ul class="s-cols-1 footer__titulo">
				Follow us
				<li class="footer__li">
					<img
						class="footer__social"
						src="https://cdn-icons-png.flaticon.com/512/1384/1384005.png"
						alt="icon"
					/><a class="footer__li" href="#">Facebook</a>
				</li>
				<li class="footer__li">
					<img
						class="footer__social"
						src="https://cdn-icons-png.flaticon.com/512/4494/4494465.png"
						alt="icon"
					/><a class="footer__li" href="#">Twitter</a>
				</li>
				<li class="footer__li">
					<img
						class="footer__social"
						src="https://cdn-icons-png.flaticon.com/512/87/87390.png"
						alt="icon"
					/><a class="footer__li" href="#">Instagram</a>
				</li>
			</ul> -->
			<ul class="s-cols-1 footer__titulo">
				<li class="footer__li">
					<img class="footer__finalImg" src="assets/img/Desktop/logo-curacao-egaming.png" alt="icon" /><a
						class="footer__li" href="#"></a>
				</li>
				<li class="footer__li">
					<img class="footer__finalImg" src="assets/img/Desktop/+18.svg" alt="icon" /><a class="footer__li"
						href="#"></a>
				</li>
			</ul>
		</div>
		<div class="s-grid-1 row-gap footer__downFooterContainer">
			<label> <strong>Siguenos también aquí</strong></label>
			<div class="footer__downFooterSocial">
				<a href="#"><img class="downFooter item1" src="assets/img/Desktop/facebook.svg" alt="" /></a>
				<a href="#"><img class="downFooter item2" src="assets/img/Desktop/twitter.svg" alt="" /></a>
				<a href="#"><img class="downFooter item3" src="assets/img/Desktop/Instagram.svg" alt="" /></a>
			</div>
			<label>Los juegos y apuestas deportivas a distancia realizados en
				exceso pueden causar ludopatia</label>
		</div>
	</div>
</footer>