div(class='ed-container')
	div(class='ed-item ')
		
div(class='ed-grid m-grid-2 lg-grid-4 row-gap')
		-for(i = 0; i < footer_Elements.length; i++)
			ul(class="s-cols-1")= footer_Elements[i].tittle
				-for(j = 0; j < footer_Elements[i].hijos.length; j++)
					li(class=""): a(href=`${footer_Elements[i].hijos[j].link}`)= footer_Elements[i].hijos[j].name
					
			//- console.log(footer_Elements[i].tittle )
			//- - console.log(footer_Elements[i].hijos.length)
			//- - console.log(footer_Elements[i].tittle )
				
		
			//- console.log(footer_Elements[i].tittle )