<nav class="middlenav">
  <div class="middlenav__container">
    <div>
      <ul class="middlenav__menu">
        <li class="middlenav__li">
          <a class="middlenav__anchor" href="page2.html"><img class="logosMiddleNav" src="assets/img/Desktop/round.png"
              alt="icon" /><strong class="titulos_middleNav" >Deportes</strong></a>
        </li>
        <li class="middlenav__li">
          <a class="middlenav__anchor" href="page2.html"><img class="logosMiddleNav" src="assets/img/Desktop/round.png"
              alt="icon"><strong class="titulos_middleNav" >Caballos</strong></a>
        </li>
        <li class="middlenav__li">
          <a class="middlenav__anchor" href="page2.html"><img class="logosMiddleNav" src="assets/img/Desktop/round.png"
              alt="icon"><strong class="titulos_middleNav" >Casino</strong></a>
        </li>
        <li class="middlenav__li w">
          <a class="middlenav__anchor" href="page2.html"><img class="logosMiddleNav" src="assets/img/Desktop/round.png"
              alt="icon"><strong class="titulos_middleNav" >Apuestas <br> en vivo </strong></a>
        </li>
        <li class="middlenav__li w">
          <a class="middlenav__anchor" href="page2.html"><img class="logosMiddleNav" src="assets/img/Desktop/round.png"
              alt="icon"><strong class="titulos_middleNav" >Apuestas <br> virtuales </strong></a>
        </li>
        <li class="middlenav__li">
          <a class="middlenav__anchor" href="page2.html"><img class="logosMiddleNav" src="assets/img/Desktop/round.png"
              alt="icon"><strong class="titulos_middleNav" >Concurso</strong></a>
        </li>
        <li class="middlenav__li">
          <a class="middlenav__anchor" href="page2.html"><img class="logosMiddleNav" src="assets/img/Desktop/round.png"
              alt="icon"><strong class="titulos_middleNav" >Banca</strong></a>
        </li>
        <li class="middlenav__li android">
          <a class="middlenav__anchor" href="page2.html"><img class="logosMiddleNav" src="assets/img/Desktop/round.png"
              alt="icon"><strong class="titulos_middleNav" >Descargar <br> El App</strong></a>
        </li>
      </ul>
    </div>
  </div>
</nav>